.sci-fi-screen-wrapper {
    /* position: relative; */
    height: 100%;
    width: 100%;
}

.sci-fi-screen {
    cursor: pointer;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid rgb(var(--primary-color));
    width: 414px;
    border-radius: 1rem;
    background-color: rgb(var(--primary-color) / 15%);
    aspect-ratio: 9 / 16;
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks));
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) -10px var(--clip-bottom) -10px);
    animation: container-stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), container-glitch 2s ease infinite 2s alternate-reverse;
}

.sci-fi-screen-outer-upper-trapezoid,
.sci-fi-screen-outer-lower-trapezoid {
    position: absolute;
    left: calc(50% - 50px);
    z-index: 11;
    width: 100px;
    height: 8px;
    background-color: var(--background-color);
}

.sci-fi-screen-outer-upper-trapezoid {
    top: -4px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.sci-fi-screen-outer-lower-trapezoid {
    bottom: -4px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
}

.sci-fi-screen-inner-upper-trapezoid,
.sci-fi-screen-inner-lower-trapezoid {
    position: absolute;
    left: calc(50% - 54px);
    z-index: 10;
    width: 108px;
    height: 10px;
    background-color: rgb(var(--primary-color));
}

.sci-fi-screen-inner-upper-trapezoid {
    top: -3px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.sci-fi-screen-inner-lower-trapezoid {
    bottom: -3px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
}

@keyframes container-stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        box-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        box-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes container-glitch {
    0% {
        box-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    1% {
        box-shadow: 2px -3px 0 red, -2px 3px 0 blue;
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    2%,
    100% {
        box-shadow: none;
        text-shadow: none;
        transform: none;
    }
}

.sci-fi-screen-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: .8rem;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(20deg);
    opacity: 0.6;
    background-image: url('./4k-space-wallpaper-1.jpg');
    animation: pan-image 20s linear infinite;
}

@keyframes pan-image {
    0% {
        background-position: 37% 30%;
        background-size: 400%;
    }

    20% {
        background-position: 29% 47%;
        background-size: 400%;
    }

    20.0001% {
        /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 500%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 500%;
    }

    40.0001% {
        /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 300%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 300%;
    }

    60.0001% {
        /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 300%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 300%;
    }

    80.0001% {
        /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 300%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 300%;
    }
}

.sci-fi-screen-overlay {
    position: absolute;
    z-index: 10;
    background: linear-gradient(rgb(var(--primary-color) / .15),
            rgb(var(--primary-color) / .15) 3px,
            transparent 3px,
            transparent 9px);
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 32s infinite linear;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}

.sci-fi-screen:nth-child(odd) {
    /* transform: scale(0.8); */
    --glitch-translate: 8px;
}

.sci-fi-screen:nth-child(odd)::after {
    transform: scale(0.8);
}

.sci-fi-screen:nth-child(even) {
    /* transform: scale(0.6); */
    --glitch-translate: -8px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.sci-fi-screen-content {
    margin: 10px;
    border-radius: .8rem;
    color: var(--text-color);
    font-size: 1.5rem;
    flex-direction: column;
    border: 1px solid rgb(var(--primary-color) / 80%);
}

.right {
    text-align: right;
    width: 100%;
}

.sci-fi-screen-title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.sci-fi-screen-title-wrapper span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: sci-fi-screen-title-intro 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), sci-fi-screen-title-glitch 2s ease infinite 2s alternate-reverse;
}

.sci-fi-screen-title-wrapper span:nth-child(odd) {
    --glitch-translate: 8px;
}

.sci-fi-screen-title-wrapper span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes sci-fi-screen-title-intro {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes sci-fi-screen-title-glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    1% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    2%,
    100% {
        text-shadow: none;
        transform: none;
    }
}